@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: 0;
}

.nav{
    font-size: 20px;
    height: 100px;
    width: 100%;
    display: flex;
    background-color: #E4E3E3;
}
.logo {
    height: 90px;
    margin-left: 20px;
    margin-top: 5px;
}
.navtext{
    margin-left: 63%;
    margin-top: 35px;
    margin-bottom: 40px;
}
#navtext{
    text-decoration: none;
    color: #09625C;
    margin-right: 50px;
}
.Bestellen{
 margin-right: 10px;
 color: white;
 text-decoration: none;
 background-color: #09625C;
 padding-left: 20px;
 padding-right: 20px;
}

/*for diffrent screen sizes*/
@media (max-width:1310px){
    .navtext{
        margin-left: 55%;
    }
}
@media (max-width:1080px){
    .navtext{
        margin-left: 45%;
    }
}
@media (max-width:888px){
    .navtext{
        margin-left: 30%;
    }
}
@media (max-width:695px){
    .navtext{
        margin-left: 10%;
    }
}
@media (max-width:545px){
    .navtext{
        margin-left: 25%;
    }
    #navtext{
        display: none;
    }
}