body{
    margin: 0;
    font-family: "M PLUS Rounded 1c", Tahoma, sans-serif;
}
.logo{
    height: 60px;
    min-width: 82px;
}
a {
    text-decoration: none;
}

.container {
 
}

.header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 80px;
}

.header1 {
position: absolute;
margin-top: 15px;
height: 60px;
padding-left: 20px;
}

.header2 {
    display: flex;
    justify-content: flex-end;    
    padding-right: 25px;
    padding-top: 22px;

}

#knop {
    margin-left: 50px;
    color: black;
    font-size: x-large;

}

.header img{
max-width: 50px;
max-height: 50px;
}

.main{
    width: 96%;
    margin-left: 2%;
    background-color: white;
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../pic/pizzafromabove.avif);
    background-size: cover;
    border-radius: 7px;
}

.main h1{
    font-size: 100px;
    color: rgb(255, 255, 255);
}

.submain {
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-right: 2%;
}

@media (max-width: 1000px) {
    .submain {
      flex-direction: column;
    }
  }

.submain1 {
    width: 100%;
    background-color: white;
    height: 610px;
    margin-top: 5px;
    margin-right: 2.5px;
    background: url(../pic/pasta.jpg);
    background-size: cover;
    border-radius: 7px;

}

.submain2 {
    width: 100%;
    background-color: white;
    height: 610px;
    margin-top: 5px;
    margin-left: 2.5px;
    border-radius: 7px;

}

.footer{
    width: 100%;
    background-color: white;
    height: 50px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    
}

.footer p{
    padding-left: 15px;
}

